<% include header %>

<body class="content-page dark-bg">
    <!--[if lt IE 7]>
        <div id="content" style="margin-top:100px; text-align: center;">
            <h2>Hello!</h2>
            <p>It looks like you have stumbled across my website on a non-compatible browser. Please download an compatible browser (I suggest <a href="http://www.mozilla.org/en-US/firefox">Firefox</a> or <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a>). Please contact me at <a href="mailto:john.x.sandoval@gmail.com">welcome@johnsandoval.us</a>.</p>
        </div>
    <![endif]-->
    <div id="error-page" class="content-container">
        <div id="error-text">
            <h2>Error Encountered</h2>
            <p>
                From the looks of your assigned Tech, I'd suggest the following actions:
            </p>
            <p>
                Make sure you've requested a valid page on this site.<br />
                If so, please email the site administrator <a href="mailto:john.x.sandoval@gmail.com?subject=Hi%21%20I%20Broke%20Your%20Web%20Site">here</a>.
            </p>
        </div>
        <div id="error-img">
            <h3>Your assigned Tech is:</h3>
            <img src="/main/images/error.jpg" alt="error-gremlin" />
            <h3>Steve</h3>
        </div>
    </div>

<% include menu %>
<% include footer %>
<% include end %>