    <% var thisYear = new Date().getFullYear(); %>
    <!-- Page Footer -->
    <div id="footer">
        <div class="copyright">Copyright &copy; <%= thisYear %> John Sandoval - johnsandoval.us</div>
        <div class="signature">HTML5 | CSS3 | JavaScript | JQuery | Full Stack Development | SQL | SAS | BI | Enterprise Reporting | NoSQL | Data Engineering</div>
    </div>