

        <!-- Navigation Menu -->
        <div id="nav-menu-container">
            <ul id="nav-menu">
                <li class="menu-item"><a href="/">Home</a></li>
                <li class="menu-item"><a href="https://www.linkedin.com/in/johnxsandoval" target="_blank">LinkedIn</a></li>
                <li class="menu-item"><a href="#">Projects</a></li>
                <li class="menu-item"><a href="/journey">The Journey</a></li>
            </ul>
        </div>

        <% var thisYear = new Date().getFullYear(); %>
        <!-- Page Footer -->
        <div id="footer">
            <div class="copyright">Copyright &copy; <%= thisYear %> John Sandoval - johnsandoval.us</div>
            <div class="signature">HTML5 | CSS3 | JavaScript | JQuery | Full Stack Development | SQL | SAS | BI | Enterprise Reporting | NoSQL | Data Engineering</div>
        </div>

    </div>

    <!--  JavaScript -->
    <script src="/main/javascripts/application.min.js"></script>
    
</body>
</html>