<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <!-- Title -->
    <title>John Sandoval</title>
    <!-- CSS -->
    <link rel='stylesheet' href="/main/stylesheets/application.css" />
    <link rel='stylesheet' href="/main/stylesheets/application-mq.css" />
    <script type="text/javascript">
        oldieishere = false;
        ieishere = false;
    </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="/javascripts/html5shiv.js"></script>
        <script src="/javascripts/respond.min.js"></script>
    <![endif]-->
</head>
