    
    <!-- Navigation Menu -->
    <div id="nav-menu-container">
        <ul id="nav-menu">
            <li class="menu-item custom-font"><a href="/">Home</a></li>
            <li class="menu-item custom-font"><a href="https://www.linkedin.com/in/johnxsandoval" target="_blank">LinkedIn</a></li>
            <li class="menu-item custom-font"><a href="#">Projects</a></li>
            <li class="menu-item custom-font"><a href="/journey"><span class="superfluous">The </span>Journey</a></li>
        </ul>
    </div>