
<% include header %>

<body class="content-page dark-bg">
    <!--[if lt IE 7]>
        <div id="content" style="margin-top:100px; text-align: center;">
            <h2>Hello!</h2>
            <p>It looks like you have stumbled across my website on a non-compatible browser. Please download an compatible browser (I suggest <a href="http://www.mozilla.org/en-US/firefox">Firefox</a> or <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a>). Please contact me at <a href="mailto:john.x.sandoval@gmail.com">welcome@johnsandoval.us</a>.</p>
        </div>
    <![endif]-->
    <div id="projects-table" class="content-container">
    
        <div>
            <h2 class="custom-font">My Recent Projects</h2>
        </div>

        <p>
            Lots of projects are too old to still be relevant from a technology standpoint. While I'm very proud of past projects and their ability to stand the test of time, I always like to be looking forward. With that in mind, here is a small list of projects that are relevant.
        </p>
        <!-- Team Integration App -->
        <div class="project-entry">
            <div class="project-img">
                <a href="http://johnsandoval.us/ti"><img src="/main/images/ti-logo.png" alt="Team Integration App" /></a>
            </div>
            <div class="project-description">
                <p>
                    The <a href="http://johnsandoval.us/ti"><strong>Team Integration App</strong></a> is a personal project inspired by disconnected Dev teams and my own interest in the emerging MEAN stack. It quickly tracks personal and team strengths and preferences. Powered by Node and MongoDB, it also flexes the muscle of frameworks like Twitter Bootstrap and libraries like Grunt to drive development speed. It has unit testing, a fully-functioning administrative UI, as well as architecture docs, social sign-on, and more.
                </p>
            </div>
            <div class="project-link">
                <span><a href="http://johnsandoval.us/ti">Experience Ti</a></span>
            </div>
        </div>
        <!-- ClearView 2.0 -->
        <div class="project-entry">
            <div class="project-img">
                <a href="/projects/clearview"><img src="/main/images/clearview.png" alt="ClearView 2.0" /></a>
            </div>
            <div class="project-description">
                <p>
                    This is a project from work. I created a replacement for our legacy BI customer reporting application. The old architecture was based on <a target="_blank" href="http://www.sas.com">SAS</a> and I created the prototype on the latest version of the very powerful ETL and BI platform. This prototype adds in a modern HTML5/CSS3 front-end that integrates with the SAS data structure. It's a mobile-ready responsive design that also uses a custom drag-and-drop report dashboard and Highcharts.js.
                </p>
            </div>
            <div class="project-link">
                <span><a href="/projects/clearview">Learn More</a></span>
            </div>
        </div>
        <!-- Craft Inventory -->
        <div class="project-entry">
            <div class="project-img">
                <img src="/main/images/ci-logo.png" alt="Craft Inventory" />
            </div>
            <div class="project-description">
                <p>
                    Another personal project - this one for my wife. In addition to being a top Technical Project Manager, she also has a very successful craft business (<a target="_blank" href="http://krittercrafts.com">KritterCrafts.com</a>). For all of her personal and professional crafting inventory she was in need of something fast that she could access from anywhere. Angular.js is the front-end of choice in a proper single-page app (SPA) powered, again, by MongoDB. This one may even warrent a true mobile app to go along with it!
                </p>
            </div>
            <div class="project-link">
                <span><a href="#">Coming Soon</a></span>
            </div>
        </div>

    </div>

<% include menu %>
<% include footer %>
<% include end %>