<section class="projects">
    <div class="container">
        <div class="page-title">
            <h2 class="custom-font">My Recent Projects</h2>
        </div>

        <p>
            Just a sampling of personal and prototype projects....
        </p>

        <div class="project-entry">
            <div class="project-img">
                <a href="http://johnsandoval.us/ti"><img src="/images/ti-logo.png" alt="Team Integration App" /></a>
            </div>
            <div class="project-description">
                <p>
                    The <a href="http://johnsandoval.us/ti" target="_blank"><strong>Team Integration App</strong></a>
                    is a personal project inspired by disconnected Dev teams and my own interest in polymorphic
                    JavaScript. It quickly tracks personal and team strengths and preferences. Powered by Node
                    and MongoDB, it also flexes the muscle of frameworks like Twitter Bootstrap and libraries
                    like Grunt to drive development speed. It has unit testing, a fully-functioning administrative
                    UI, as well as architecture docs, social sign-on, and more.
                </p>
            </div>
            <div class="project-link">
                <a href="http://johnsandoval.us/ti">Experience Ti</a>
            </div>
        </div>
        <div class="project-entry">
            <div class="project-img">
                <a href="/projects/clearview"><img src="/images/clearview.png" alt="ClearView 2.0" /></a>
            </div>
            <div class="project-description">
                <p>
                    This is a prototype project created for an old employer. I created a replacement for the
                    legacy BI customer reporting application. The old architecture was based on
                    <a target="_blank" href="http://www.sas.com"><strong>SAS</strong></a> and I created the prototype on the
                    latest version of the same platform. This web application adds in a modern HTML5/CSS3
                    front-end that integrates with the SAS data structure. It's a mobile-responsive design
                    that also uses a custom drag-and-drop report dashboard and Highcharts.js.
                </p>
            </div>
            <div class="project-link">
                <a href="/projects/clearview">Learn More</a>
            </div>
        </div>
        <div class="project-entry">
            <div class="project-img">
                <h3>LAMPjs</h3>
            </div>
            <div class="project-description">
                <p>
                    I love working with modern JavaScript code and tooling. Though, there are still
                    many sites out there running on LAMP stack and just inlining a lot of the HTML with very
                    minimal CSS/JS. What to do when asked to work on these sites? Well, I finally buckled down
                    and created a Node CLI that deploys and maintains a modern JS front-end within a traditional
                    PHP web app. JS views, LESS CSS, Handlebars templates, and Grunt build automation.
                </p>
            </div>
            <div class="project-link">
                <a href="https://github.com/jsandoval81/lampjs">View on GitHub</a>
            </div>
        </div>
    </div>
</section>
