
.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.fa-user-text {
    color: #000000;
}
/** LinkedIn Social **/
.fa-linkedin-text {
    color: #007bb6;
}
.fa-linkedin-btn {
	color: #FFFFFF;
    background: #007bb6;
}
.fa-linkedin-btn:hover {
	color: #FFFFFF;
    background: #00547D;
}
/** Google Plus Social **/
.fa-google-plus-text {
    color: #dd4b39;
}
.fa-google-plus-btn {
	color: #FFFFFF;
    background: #dd4b39;
}
.fa-google-plus-btn:hover {
	color: #FFFFFF;
    background: #A82718;
}
/** Facebook Social **/
.fa-facebook-text {
    color: #3b5998;
} 
.fa-facebook-btn {
	color: #FFFFFF;
    background: #3b5998;
}
.fa-facebook-btn:hover {
	color: #FFFFFF;
    background: #284175;
}
/** Twitter Social **/
.fa-twitter-text {
    color: #00aced;
}
.fa-twitter-btn {
	color: #FFFFFF;
    background: #00aced;
}
.fa-twitter-btn {
	color: #FFFFFF;
    background: #00aced;
}


#profileUpdate .form-control {
	width: 350px;
}


footer.ti-footer {
	width: 100%;
	text-align: center;
}