<section class="journey story">
    <div class="container">
        <div class="page-title">
            <h1 class="page-header">The Journey</h1>
        </div>
        <h2>The early days</h2>
        <p>
            I can’t believe I’m about to say this, but I actually have to give more than a miniscule shred
            of credit to the "Career Day" at my high school. I’m not one of those who was disassembling my dad’s
            work computer when I was 4. Nor was I in (or aware of) any computer clubs. So when the guy from a
            local tech company said “go out and buy an HTML book” I did just that – and the journey began.
        </p>
        <p>
            By the time I knew what I was doing the Internet couldn’t have been hotter. Business owners were
            scrambling for any kind of web presence. My friend and I saw the opportunity and started our own
            web design "firm". My friend did the graphics and I did the code and away we went. We even convinced
            our school to let us do several independent study classes to bolster our skills. When graduation
            came around I had made enough scratch to cover the first few years of college.
        </p>
        <h2>College years</h2>
        <p>
            Luckily, I was in college when the "bubble" burst. I was still making a few extra bucks on the side
            doing business-card web sites here and there. But I also did some pay-it-forward sites for friends
            and peers I’d hoped would make it big…
        </p>
        <p>
            Halfway through college I landed a paid internship at a local tech company. Not much web development
            at first, but a definite crash course in enterprise architecture, networking, SDLC, and production support.
            For several years I wore many hats - everything from business analyst to data/software engineer. I had
            the opportunity to build relationships with engineers, DBAs, product managers, sys admins, etc. and see
            how all of the moving pieces fit together. I was able to provide a lot of value on the application
            architecture and data engineering fronts. Data (relational and otherwise) just makes sense to me. I
            can extract it, transform it, and deliver it in a method that users understand - be it a CRUD app or BI
            reporting.
        </p>
        <h2>Corporate and beyond</h2>
        <p>
            I've logged a lot of time on ETL and reporting over the years. I've worked with architectures
            running SQL Server, MySQL, Tandem, Informix, Vertica, and others. Though lately I've spent most of
            my time on the front-end. JavaScript has become a passion and the core of my work. I've built
            single-page-apps and server-rendered apps; sometimes with a framework (Ember), most times without.
            The front-end tooling with Grunt, Gulp, and NPM scripts has has a community that I have not
            experienced on any other language or platform.
        </p>
        <p>
            I also write Node back-ends, primarly with AWS Lambda, API Gateway, RDS, and S3. I've written Express
            APIs on AWS EC2 instances, but Lambda has become much cheaper in most cases. Throw in tools like
            Postman and it's probably never been easier to spin up full-stack apps.
        </p>
        <p>
            I'm fortunate to get the opportunity to work with a lot of trending and emerging technologies. I've
            recently created several Amazon Alexa skills for clients and I've also started to learn Swift and iOS
            development. I've also built some Node CLIs to help scaffold and maintain JavaScript web projects.
            It's an exciting time to be a developer!
        </p>
    </div>
</section>
