<section class="journey story">
    <div class="container">
        <div class="page-title">
            <h1 class="page-header">The Journey</h1>
        </div>
        <h2>The early days</h2>
        <p>
            I can’t believe I’m about to say this, but I actually have to give more than a miniscule shred
            of credit to the Career Day at my high school. I’m not one of those who was disassembling my dad’s
            work computer when I was 4. Nor was I in any computer clubs. So when the guy from a
            local tech company said “go out and buy an HTML book” I did just that – and the journey began.
        </p>
        <p>
            By the time I knew what I was doing the Internet couldn’t have been hotter. Business owners were
            scrambling for any kind of web presence. My friend and I saw the opportunity and started our own
            web design "firm". My friend did the graphics and I did the code and away we went. We even convinced
            our school to let us do several independent study classes to bolster our skills. When graduation
            came around I had made enough scratch to cover the first few years of college.
        </p>
        <h2>College years</h2>
        <p>
            Luckily, I was in college when the "bubble" burst. I was still making a few extra bucks on the side
            doing business-card web sites here and there. But I also did some pay-it-forward sites for friends
            and peers I’d hoped would make it big…
        </p>
        <p>
            Halfway through college I landed a paid internship at a local tech company. Not much web development
            at first, but a definitive crash course in enterprise architecture, networking, SDLC, and production support.
            For several years I wore many hats - everything from business analyst to software engineer to data architect. I had
            the opportunity to build relationships with engineers, DBAs, product managers, sys admins, etc. and see
            how all of the moving pieces fit together. I was able to provide a lot of value on the application
            architecture and data engineering fronts. Data (relational and otherwise) just makes sense to me. I
            can extract it, transform it, and deliver it in a method that users understand - be it a CRUD app or BI
            reporting.
        </p>
        <h2>Corporate and beyond</h2>
        <p>
            I've logged a lot of time on ETL, reporting, and data architecture over the years. I've worked with systems
            running Oracle, SQL Server, MySQL, Tandem, Informix, Vertica, and others. Though lately I've spent most of
            my time building web applications. JavaScript has become a passion and the core of my app dev work. I've built
            single-page-apps, server-rendered apps, pre-rendered apps, PWA apps; sometimes with a framework, sometimes without.
            JavaScript has a great community and modern dev tooling that sets a pretty high bar.
        </p>
        <p>
            I also write Node.js back-ends, primarly with Express. I've become very experienced at creating modern API-first apps
            using REST conventions. My experience with ETL and data warehousing makes designing app data models a joy.
            Automated testing is a passion. I've written high-coverage test suites for multiple frontend &amp;
            backend apps. Not every customer has a budget for test coverage across the stack, so sometimes it's just backend /
            data API tests (always), progressing towards minimal frontend a11y tests, and beyond.
        </p>
        <p>
            I've been hosting apps on AWS architecture since 2015. I've grown beyond the standard EC2 / S3 / Route53 / RDS / IAM / VPC to include
            business-class integrations of Cognito, Lambda, Cloudfront, WAF, SES, SNS, Sagemaker, and others.
            Infrastructure-as-code IaC has become a focus, primarily through AWS CDK. Containers have been a major lift to our industry, making
            apps truly portable and scalable, and also a boost to dev tooling and deployment. Which is good, because there is already enough
            to do keeping dependencies up to date, tuning CSP headers, managing CORS, reviewing PRs, etc.
        </p>

        <p>
            I'm fortunate to have a background in enterprise architecture and also get the opportunity to work with a lot of trending technologies.
            It's an exciting time to be a developer!
        </p>
    </div>
</section>
